<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/main.min.css">
</head>

<body>
  <!-- hero section  -->
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 mx-auto">
        <img src="/images/undraw_Bibliophile_re_xarc.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Discover, Track, and Achieve Your Reading Goals</h1>
        <p class="lead"> Welcome to Shelfwise, the ultimate book tracker to help you organize your reading journey. Whether you're diving into a new genre, revisiting an old favorite, or setting ambitious reading goals, Bookly keeps all your books in one place. </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/homepage">
            <button type="button" class="btn btn-custom rounded-pill btn-lg px-4 me-md-2">Get Started</button>
          </a>


          <!-- <button type="button" class="btn rounded-pill btn-outline-secondary btn-lg px-4">Default</button> -->
        </div>
      </div>
    </div>
  </div>

  <!-- features section  -->
  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Features</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-2">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/images/homepage-feature-img/sapiens.jpg');
        background-position: center;
        background-size: cover;
        position: relative;">
        <div class="overlay" style="position: absolute;background-color: rgba(0,0,0,0.5); height: 100%;
        width: 100%; "></div>
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1" style="position: relative;
          z-index: 1;">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Set your annual or monthly reading goals and track your progress.</h3>
            <!-- <ul class="d-flex list-unstyled mt-auto">

              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>Earth</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>3d</small>
              </li>
            </ul> -->
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/images/homepage-feature-img/The-Subtle-Art-of-Not-Giving-A-Fck.jpg');
        background-size: cover;
        background-position: center;
        position: relative;
        ">
          <div class="overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); backdrop-filter: blur(2px);"></div>
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1" style="position: relative; z-index: 1;">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Save books you want to read later. Organize your to-read list, so you never forget a recommendation.
            </h3>
            <!-- <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>Pakistan</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>4d</small>
              </li>
            </ul> -->
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/images/homepage-feature-img/rich-dad-poor-dad.png'); 
        background-position: center;
        background-size: cover;
        position: relative;
        ">
          <div class="overlay" style="position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        left: 0;
        right: 0; 
        height: 100%;
        width: 100%;"> </div>
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1" style="position: relative; z-index: 1;
          backdrop-filter: blur(2px);">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Write reviews and rate books once you've finished them. Keep a record of what you loved and share it with others!</h3>
            <!-- <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>California</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>5d</small>
              </li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer section  -->

  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <svg class="bi" width="30" height="24">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>
      </div>

      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24">
              <use xlink:href="#twitter"></use>
            </svg></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24">
              <use xlink:href="#instagram"></use>
            </svg></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24">
              <use xlink:href="#facebook"></use>
            </svg></a></li>
      </ul>
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>